.login-form{
background-color: #0690cf;
border:solid 2px #0c48cf;
width: 450px;
height: 270px;
color:#fff;
font-size: 20px;
}
.form-edit{
	display: inline-block;
	margin:15px 0px 0px 20px;
}

hr{
	border:none;
	background-color: #fff;
	height: 1px;
}

.input-lbl{
	display: block;
}
input{
		height:25px;
}

input#email{
	width:350px;
}

.btn-send{
	color:#000;
	background-color: #ffdf7f;
	border: none;
	width: 95px;
	height: 30px;
}
